// @nebular theming framework
@import '~@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '~@nebular/theme/styles/themes';

// which themes you what to enable (empty to enable all)
$nb-enabled-themes: (default, cosmic, corporate);

$nb-themes: nb-register-theme((
 // app wise variables for each theme
  sidebar-header-gap: 2rem,
  sidebar-header-height: initial,
  layout-content-width: 1400px,

  font-main: Roboto,
  font-secondary: Exo,

  switcher-background: #ebeff5,
  switcher-background-percentage: 50%,
  drops-icon-line-gadient: -webkit-linear-gradient(#01dbb5, #0bbb79),

  list-item-border-width: 1px,

  slide-out-container-width: 30%,
  slide-out-background: linear-gradient(270deg, #f7fafb 0%, #ecf2f5 100%),
  slide-out-shadow-color: 0 4px 14px 0 #a2d2c8,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #a2d2c8,

  chart-panel-summary-box-shadow: none,
  chart-panel-summary-background-color: #ecf2f5,
  chart-panel-summary-border-color: #ebeff1,
  chart-panel-summary-border-width: 1px,

  ecommerce-card-border-width: 1px,

  progress-bar-background: linear-gradient(90deg, #3edd81 0%, #3bddaf 100%),
), default, default);

$nb-themes: nb-register-theme((

  // color-bg: rgba(5, 252, 252, 0.1),
  color-bg: rgba(0, 0, 0, 0.5),
  color-bg-active: rgba(0, 0, 0, 0.5),
  // color-bg-active : rgba(5, 252, 252, 0.2),
  //shadow: 0px 0px 0px #05fcfc,
  // shadow: inset 0 0 5px #05fcfc,
  color-fg: #05fcfc,
  color-fg-heading: #05fcfc,
  color-fg-text: #05fcfc,
  color-fg-highlight: #05fcfc,
  // layout-bg: #181818,
  // layout-bg: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg"),
  layout-bg: url("assets/images/blur-bg.jpg") no-repeat center center fixed,
  layout-window-mode-bg: #181818,
  // radius: 0.5rem,
  radius: 0px,
  // card-border-radius: 0.5rem,
  card-border-radius: 0px,
  // footer-bg: #181818,
  footer-bg: rgba(0, 0, 0, 0.5),
  footer-fg: #05fcfc,
  // sidebar-bg: #181818,
  sidebar-bg: rgba(0, 0, 0, 0.5),
  // sidebar-fg: red,
  // separator: #05fcfc,
  // separator: rgba(5, 252, 252, 0.5),
  separator: rgba(153, 153, 153, 0.5),
  // separator: rgba(0, 0, 0, 0.8),
  scrollbar-bg: rgba(0, 0, 0, 0.3),
  scrollbar-fg: rgba(0, 0, 0, 0.8),
  // scrollbar-bg: #017a7a,
  // scrollbar-fg: #05fcfc,
  // card-border-width: 1px,
  // card-border-type: solid,
  // card-border-color: #05fcfc,
  menu-bg: error,
  menu-fg: error,
  menu-active-bg: rgba(0, 0, 0, 0.3),
  menu-active-fg: error,
  menu-submenu-bg: error,
  menu-submenu-fg: error,
  menu-submenu-active-bg: rgba(0, 0, 0, 0.3),
  menu-submenu-active-fg: error,

  // Search
  search-bg: rgba(0, 0, 0, 0.1),
  search-placeholder: #017a7a,

  // Menu
  menu-icon-font-size: 1.5rem,
  menu-icon-margin: 0 1rem 0 0,

  //Badge
  badge-fg-text: #000000,
  badge-danger-bg-color: #f68081,
  badge-warning-bg-color: #f9e968,
  badge-success-bg-color: #b5db5b,

  //spinner
  spinner-bg: rgba(0, 0, 0, 0.5),

  // app wise variables for each theme
  sidebar-header-gap: 2rem,
  sidebar-header-height: initial,
  layout-content-width: 1400px,

  font-main: Roboto,
  font-secondary: Exo,

  switcher-background: #4e41a5,
  switcher-background-percentage: 14%,
  drops-icon-line-gadient: -webkit-linear-gradient(#a258fe, #7958fa),

  list-item-border-width: 1px,

  slide-out-container-width: 30%,
  slide-out-background: radial-gradient(circle, #302c6e 0%, #423f8c 100%),
  slide-out-shadow-color: 2px 0 3px rgba(19, 19, 94, 0.9),
  slide-out-shadow-color-rtl: -2px 0 3px rgba(19, 19, 94, 0.9),

  chart-panel-summary-box-shadow: none,
  chart-panel-summary-background-color: rgba(0, 0, 0, 0.1),
  chart-panel-summary-border-color: #332e73,
  chart-panel-summary-border-width: 1px,

  ecommerce-card-border-width: 1px,

  progress-bar-background: linear-gradient(90deg, #00c7c7 0%, #00d977 100%),
), cosmic, cosmic);

$nb-themes: nb-register-theme((
  // app wise variables for each theme
  sidebar-header-gap: 2rem,
  sidebar-header-height: initial,
  layout-content-width: 1400px,

  font-main: Roboto,
  font-secondary: Exo,

  switcher-background: #2b2d34,
  switcher-background-percentage: 14%,
  drops-icon-line-gadient: -webkit-linear-gradient(#e9e8eb, #a7a2be),

  list-item-border-width: 1px,

  slide-out-container-width: 30%,
  slide-out-background: 	linear-gradient(270deg, #f7fafb 0%, #ecf2f5 100%),
  slide-out-shadow-color: 0 4px 14px 0 #a2d2c8,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #a2d2c8,

  chart-panel-summary-box-shadow: none,
  chart-panel-summary-background-color: #f7fafb,
  chart-panel-summary-border-color: #ebeff1,
  chart-panel-summary-border-width: 1px,

  ecommerce-card-border-width: 1px,

  progress-bar-background: linear-gradient(90deg, #ff9f6f 0%, #ff8b97 100%),
), corporate, corporate);
