@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {

  nb-card {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  nb-card-body {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  nb-card #actions {
      height: 101px;
  }
  nb-actions > nb-action {
    padding: 0 0.75rem;
  }

  nb-action {
    cursor: pointer;
    i {
      color: nb-theme(color-fg);
      font-size: 2.5rem;
      @include nb-ltr(margin-right, 1rem);
      @include nb-rtl(margin-left, 1rem);
    }

    span {
      font-family: nb-theme(font-secondary);
      font-weight: nb-theme(font-weight-bold);
      color: nb-theme(color-fg-heading);
      text-transform: uppercase;
    }
  }

  .picture {
    background-image: url("assets/images/gather.jpg");
    background-position: center;
    background-size: cover;
    border-top-left-radius: nb-theme(card-border-radius);
    border-top-right-radius: nb-theme(card-border-radius);
    flex: 1;
    position: relative;
  }

  .details {
    padding: 1.25rem 1.25rem 0;

    .title {
      font-family: nb-theme(font-secondary);
      font-weight: nb-theme(font-weight-bold);
      color: nb-theme(color-fg-heading);
      font-size: 1.5rem;
      margin-bottom: 1rem;

      @include nb-for-theme(cosmic) {
        font-weight: nb-theme(font-weight-bolder);
      }
    }

    .description {
      text-align: justify;
      color: nb-theme(color-fg-text);
      font-weight: nb-theme(font-weight-light);

      overflow: hidden;
      text-overflow: ellipsis;
      max-height: calc(1rem * 8 * #{nb-theme(line-height)});
    }
  }

  nb-card-footer {
    display: flex;
    justify-content: space-around;
    padding: 0.75rem 0;
    border: none;

    a {
      text-decoration: none;
      color: nb-theme(color-fg);

      &:hover {
        color: nb-theme(color-fg-heading);
      }

      i {
        font-size: 1.75rem;
      }
    }
  }

  /* d3 */
  ngx-twitter-list,
  ngx-twitter-popularity,
  ngx-twitter-approval,
  ngx-twitter-resume,
  ngx-d3-polar {
    display: block;
    /* 
    width: 100%;
    height: nb-theme(card-height-small);
    */

    /deep/ {
      .pie-label {
        fill: nb-theme(color-fg-heading);
      }

      .grid-line-path {
        stroke: nb-theme(separator);
      }

      text {
        fill: nb-theme(color-fg-heading);
      }

      .chart-legend {
        .legend-labels {
          background: nb-theme(color-bg);
        }
        .legend-label {
          color: nb-theme(color-fg-heading);
          .active .legend-label-text {
            color: nb-theme(color-fg-heading);
          }
        }
      }
    }
  }

  ngx-github-calendar {
    /deep/ {
      h2 {
        font-size: 20px;
        display: none;
      }
      .border, 
      .border-gray-dark, 
      .py-2, 
      .graph-before-activity-overview {
          border: hidden !important;
      }
      .contrib-footer {
          display: none;
      }
      /*
      .day {
          fill: #999 !important;
      }
      */
      .wday {
        // fill: nb-theme(color-fg-heading);
        fill: black !important;
        padding-right: 10px;
      }
      .month {
        fill: black !important;
        margin-top: 10px important;
        margin-bottom: 10px important;
      }
    }
  }

  ngx-fullcontact-scramble {
    /deep/ {
      #cardScramble {
        display: flex;
        justify-content: center; 
        align-items: center; 
      }
    }
  }

  /* borders  */ 

  .border-default {
    border: 2px solid transparent;
    border-image: url("assets/images/border-1-default.svg") ;
    border-image-slice: 20;
    border-image-repeat: stretch;
    border-image-outset: 1;
    border-image-width: 5;
  }

  .border-primary {
    border: 5px solid;
    border-image: url("assets/images/border-primary.svg") 20 repeat;
    border-image-outset: 0;
    border-image-width: 5;
  }

  .border-warning {
    border: 5px solid;
    border-image: url("assets/images/border-warning.svg") 20 repeat;
    border-image-outset: 0;
    border-image-width: 5;
  }

  .border-success {
    border: 5px solid;
    border-image: url("assets/images/border-success.svg") 20 repeat;
    border-image-outset: 0;
    border-image-width: 5;
  }

  .border-info {
    border: 5px solid;
    border-image: url("assets/images/border-info.svg") 20 repeat;
    border-image-outset: 0;
    border-image-width: 5;
  }

  .border-danger {
    border: 5px solid;
    border-image: url("assets/images/border-danger.svg") 20 repeat;
    border-image-outset: 0;
    border-image-width: 5;
  }


  /* Tree */

  /deep/ .angular-tree-component {
    cursor: default;

    .node-wrapper {
      .node-content-wrapper {
        background: none;
        box-shadow: none;
        cursor: default;
      }

      .toggle-children-wrapper {
        cursor: pointer;
      }
    }
  }

  @include media-breakpoint-down(md) {
  }
  @include media-breakpoint-down(sm) {
  }
  @include media-breakpoint-down(is) {
  }
}
